<!-- <figure id="myFigure"></figure> -->
<button (click)="circleR = circleR+1">R UP</button>
<input [(ngModel)]="circleR"
       type="number">
<input [(ngModel)]="fontSize"
       type="number">
<svg viewBox="0, 0, 1200, 1200"
     font-family="sans-serif"
     [attr.font-size]="fontSizeNum">
  <!-- Nodes -->
  <g cursor="pointer"
     pointer-events="all"
     [attr.transform]="'translate(100,200)'">
    <g *ngFor="let d of nodes"
       class="node"
       [attr.transform]="'translate(' + d.x + ',' + d.y + ')'">
      <text dy="0.31em"
            x="-15"
            text-anchor="end">{{ d.data.name }}</text>
      <circle [attr.r]="circleRNum"
              [attr.fill]="'#555'"
              (click)="nodeClicked(d, c)"
              stroke-width="1.5"
              #c>
      </circle>
    </g>
  </g>

  <!-- Links -->
  <g fill="none"
     stroke="#555"
     stroke-opacity="0.4"
     stroke-width="1.5">
    <!-- <text *ngFor="let p of links">{{ p | json }}</text> -->
  </g>
</svg>
